<div class="modal-header hed">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Demo ModelPopUp</h4>
</div>
<div class="modal-body container-fluid" style="padding-bottom: 0;">
    <div class="row">
        <div class="col-md-4">
            <label>Name</label>
        </div>
        <div class="col-md-8">
            <input type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Email ID</label>
        </div>
        <div class="col-md-8">
            <input type="text" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose">Close</button>
    <button type="button" class="btn btn-primary" id="btnDownlaod">Click</button>
</div>
 